<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .form_div {
      line-height: 35px;
      height: 35px;
    }
  </style>
</head>

<body>
  <form action="/register" method="post" id="text_form">
    <div class="yuanGongH ipt">员工号：<input type="text" id="ygh" value="" name="account"></div>
    <div class="szmm ipt">密码：<input type="text" value="" name="password" id="pass"></div>
    <div class="qrmm ipt">确认密码：</i><input type="text" value="" name="qrpass" id="qrpass"></div>
  </form>
  <div id="zhuce" class="btn_zhuce">注册</div>
</body>

<script>
  const zhuce = document.getElementById('zhuce')
  console.dir(zhuce)
  zhuce.addEventListener('click', function () {
    var text_form = document.getElementById('text_form');
    var ygh = document.getElementById("ygh").value;
    var pass = document.getElementById("pass").value;
    var qrpass = document.getElementById("qrpass").value;
    if (ygh == "") {
      alert("员工号不能为空");
      return false;
    }
    if (pass == "") {
      alert("密码不能为空");
      return false;
    }
    if (qrpass !== pass) {
      alert("密码不同");
      return false;
    } else {
      text_form.submit();
      return true;
    }
  })
</script>

</html>